# Ignore venv
env/
venv/
flask_app/

# created by virtualenv automatically
scraper/*.csv
scraper/*.json
scraper/*.txt
scraper/dbs/*
*.pyc

__pycache__

# Flask stuff
instance/

# ignore database outputs
**/db_output.txt
graph_db_generator/loc.json

# Dependencies
node_modules

# Environments
.env

.vscode

# NER model

/nlp/add_articles_to_graph/nlp/ner/NER_model1
